/*{"last_published":"2026-07-26 03:31:15 UTC"}*/

#player-info{
    justify-content: left;
}

h1{
    font-family:house-of-cards;
}
h2{
    font-family:house-of-cards;
}
body {
    font-family:oso-serif-variable;
    text-align:center;
    background: black;
    color: white;
    font-size:200%;
}

.text-input{
    font-family: oso-serif-variable;
    font-size:80%;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: black;
    color:white;
    border-bottom-color:red;
    border-style: solid;
    max-width: 90%;
    width:auto
}

/*
Source - https://stackoverflow.com/a/18396306
Posted by Mr Lister
Retrieved 2026-07-28, License - CC BY-SA 3.0
*/

#radio-info{
    display:flex;
    
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
}

.radio-flex{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:10px;
    margin-left:20px;
    margin-right: 20px;
}

#heritage-flex{
    justify-content: flex-end;
}

.radiowrapper{
    min-width: 0;
    height:100px;
    align-content: center;
}

.radiowrapper input {
    visibility:hidden; width:0;
}

.radiowrapper label{
    font-family:oso-serif-variable;
    font-weight: 100;
    background-color: rgb(46, 46, 46);
    padding:10px;
    border-radius: 10px;
    transition: background-color 0.3s, font-size 0.5s, font-weight 0.3s;
}

.radiowrapper input:checked + label {
    
    border-width: 5px;
    border-color:maroon;
    background-color: maroon;
    font-weight: 800;
}


#trauma-stress{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    place-content: center;
}

#coin-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap:5%;
    padding-top:5%;
    height:100%;
}

#coin-tracker{
    place-content: center;
    display: grid;
    grid-template-columns: auto auto;
    width:fit-content;
    height:fit-content;
    border-radius: 2px;
    gap:10%;
        
}

.active{
    background-color: red;
}
.active[id^=coin]{
    background-color: gold;
}

.inactive{
    background-color: black;
}

.button{
    border-style:solid;
    border-color:red;
    border-radius:10px;
    border-width: 10px;
    transition: border-width 0.3s, background-color 0.3s, border-color 0.3s;
    cursor:pointer
}

[id^=coin]{
    border-color:gold;
}

.button:active{
    border-width: 15px;
    background-color: black;
    border-color:black;
}

.square{
    width:60px;
    height:60px;
}

.slant{

    height:120px;
    width:60px;
    transform: skewY(-20deg);
}

/* .half-slant{
    --p: 70px;
    height:10vw;
    width:5vw;
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--p)),0 100%);
} */

#healing-clock{
    width:fit-content;
    display: grid;
    grid-template-columns: auto auto;
    clip-path: circle(5vw at center);
}

.healing-button{
    border-radius: 0;
    border-color:aqua;
    background-color: aqua;
}

@media (max-width: 800px){
    #radio-info{
        flex-direction: column;
        
    }
    #heritage-flex{
        justify-content: left;
    }
}