
/*{"last_published":"2026-07-26 03:31:15 UTC"}*/

#player-info{
    justify-content: left;
}

h1{
    font-family:house-of-cards;
}
h2{
    font-family:house-of-cards;
}
body {
    font-family:minion-pro-medium;
    text-align:center;
    background: black;
    color: white;
    font-size:180%;
}

.text-input{
    font-family: minion-pro-medium;
    font-size:80%;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: black;
    color:white;
    border-bottom-color:red;
    border-style: solid;
}

#trauma-stress{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    place-content: center;
}

#coin-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap:5%;
    padding-top:5%;
    height:100%;
}

#coin-tracker{
    place-content: center;
    display: grid;
    grid-template-columns: auto auto;
    width:fit-content;
    height:fit-content;
    border-radius: 2px;
    gap:10%;
        
}

.active{
    background-color: red;
}
.active[id^=coin]{
    background-color: gold;
}

.inactive{
    background-color: black;
}

[class*=button]{
    border-style:solid;
    border-color:red;
    border-radius:10px;
    border-width: 10px;
    transition: border-width 0.3s, background-color 0.3s, border-color 0.3s;
    cursor:pointer
}

[id^=coin]{
    border-color:gold;
}

[class*=button]:active{
    border-width: 15px;
    background-color: black;
    border-color:black;
}

.square-button{
    width:5vw;
    height:5vw;
}

.pennant-button{

    height:10vw;
    width:5vw;
    transform: skewY(-20deg);
}

#healing-clock{
    width:fit-content;
    display: grid;
    grid-template-columns: auto auto;
    clip-path: circle(5vw at center);
}

.healing-button{
    border-radius: 0;
    border-color:aqua;
    background-color: aqua;
}