body {
    text-align:center;
    background: black;
    color: white;
}

div {
    background-color: black;
    color: white
}

.icons{
    width:100px;
}
.icons:hover{
    width:110px;
}

a:hover {
    color:aliceblue
}

.diamond{

    width:200;
    height:160px;
    left:10%;
    top:10%;
    fill: black; 
    stroke:white;
    stroke-width: 5px;
}

.diamond:hover{
    fill:rgb(87, 87, 87)
}